.containerPopUp {
 position: absolute;
 width: 100%;
 left: 0%;
 height: 100vh;
 padding: 10px;
 top: 120vh;
}
.childPopUp {
 position: relative;
 width: 100%;
 height:  50vh;
}
.container-items-pop-up {
 background-color: rgba(81, 50, 50, 0.496);
 border-radius: 5px;
 color: white;
}