.containerArticleInit {
 display: flex;
 flex-flow: column;
 align-items: center;
 height: 111vh;
}

.divApresentation {
 display: flex;
 flex-flow: column;
 justify-content: center;
 align-items: center;
 width: 100%;
}
.divApresentation > div > h1 {
 font-family: NiramitSemiBold;
 font-size: var(--fontTitleOne);
}
.divApresentation > div > h2 {
 font-family: NiramitSemiBold;
 font-size: var(--fontTitleTwo);
 padding: 10px;
}

.tittleContainer {
 text-align: center;
 font-size: 1.2em;
 line-height: 1.5em;
 font-family: 'NiramitBold';
 height: 100%;
 text-align: center;
 width: 100%;
 display: grid;
 place-items: center;
 line-height: 1.2em;
 font-size: 2.2em;
 height: 100%;
}
.title-init {
 display: flex;
 flex-flow: column;
 justify-content: center;
 align-items: center;
 height: 20vh;
 margin-top: 5vh;
}
.divApresentation > p {
 font-family: NiramitBold;
}

.buttonStart {
 background-color: #000;
 text-align: center;
 color: #fff;
 border-radius: 50px;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 4px;
 height: 40px;
 width: 27vw;
 cursor: pointer;
 padding: 4px;
 border: 0;
 box-shadow: 0 0 10px var(--darkPurple);
}
.buttonStart:hover {
 box-shadow: 0 0 10px var(--orange);
}


.waveContainer {
 position: absolute;
 background-image: url(../../assets/waves-layout.svg);
 width: 100%;
 height: 26vh;
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 top: 98vh;
}
/* span text init */

.containerArticleInit > div > div > div > h1 > span {
 color: blue;
 animation: textRainbow 10s ease infinite reverse;
}
.line-curve > path {
 animation: textRainbow 10s ease infinite reverse; 
}

@keyframes textRainbow {
 0% {
  color: rgb(15, 12, 12);
  fill:  rgb(15, 12, 12);
  stroke: rgb(15, 12, 12);
 }
 10% {
  color: red;
  fill: red;

 }
 20% {
  color: violet;
  fill: violet;

 }
 50% {
  color: crimson;
  fill: crimson;

 }
 100% {
  color: rgb(157, 96, 255);
  fill:rgb(157, 96, 255);

 }
}