.containerArticleInit {
 display: flex;
 flex-flow: column;
 align-items: center;
 height: 860px;
}

.divApresentation {
 display: flex;
 flex-flow: column;
 justify-content: center;
 align-items: center;
 width: 100%;
}
.divApresentation > div > h1 {
 font-family: NiramitSemiBold;
 font-size: var(--fontTitleOne);
}
.divApresentation > div > h2 {
 font-family: NiramitSemiBold;
 font-size: var(--fontTitleTwo);
 padding: 10px;
}

.tittleContainer {
 text-align: center;
 font-size: 1.2em;
 line-height: 1.5em;
 font-family: 'NiramitBold';
 height: 100%;
 text-align: center;
 width: 100%;
 display: grid;
 place-items: center;
 line-height: 1.2em;
 font-size: 2.2em;
 height: 100%;
 grid-template-columns: 30px auto 67px;
 grid-template-rows: 40px auto;
}
.title-init {
 display: flex;
 flex-flow: column;
 justify-content: center;
 align-items: center;
 height: 220px;
 margin-top: 5vh;
}
.divApresentation > p {
 font-family: NiramitBold;
}

.buttonStart {
 background-color: #000;
 text-align: center;
 color: #fff;
 border-radius: 50px;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 4px;
 height: 40px;
 width: 116px;
 cursor: pointer;
 padding: 4px;
 border: 0;
 box-shadow: 0 0 10px var(--darkPurple);
 align-self: center;
 justify-self: center; 
 grid-column: 2/3;
 grid-row: 1/2;
}
.containerArticleInit > div > aside > svg:nth-child(1) {
 grid-column: 1/3;
 grid-row: 1/2;
 align-self: center;
 justify-self: left;
 margin: 0px 0 0 -2%;
 width: 46vw;
 margin-left: -5vw;
}
.buttonStart:hover {
 box-shadow: 0 0 10px var(--orange);
}
/* span text init */

.containerArticleInit > div > div > div > h1 > span {
 animation: textRainbow 10s ease infinite reverse;
}
.line-curve > path {
 animation: textRainbow 10s ease infinite reverse; 
}
.content-button-flex {
 display: grid;
 grid-template-columns: repeat(3, minmax(100px, 1fr));
 grid-template-rows: auto auto;
 height: 96px;
 width: 100%;
}
.containerArticleInit > div:nth-child(3) {
  background-image: url(/src/assets/waves-layout.svg);
  background-size: 115vw;
  background-repeat: no-repeat;
  width: 100vw;
  background-position: bottom center;
  height: 110px;
  margin-top: -50px;
}

@keyframes textRainbow {
 0% {
  color: rgb(15, 12, 12);
  fill:  rgb(15, 12, 12);
 }
 10% {
  color: red;
  fill: red;

 }
 20% {
  color: violet;
  fill: violet;

 }
 50% {
  color: crimson;
  fill: crimson;

 }
 100% {
  color: rgb(157, 96, 255);
  fill:rgb(157, 96, 255);

 }
}