.smile-emoji {
    width: 53px;
    height: 53px;
    background-image: url(/src/assets/lines/Rectangle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(19deg);
    grid-column: 3/3;
}