.container-wave {
 background-color: var(--grey);
}

.wave-text {
 color: var(--fontColorLight);
 padding-left: 10px;
 font-size: 0.5em;
 display: flex;
 gap: 10px;
}
.container-click-wave {
 display: flex;
 width: 15%;
 padding: 0 5px 0 5px;
 position: relative;
 align-items: center;
 justify-content: center;
}
.container-click-wave::before {
 content: '';
 width: 70%;
 height: 4px;
 background-color: var(--darkPurple);
}
