.footer-container {
 background-color: var(--black);
 height: 60vh;
 color: var(--fontColorLight);
 display: flex;
 flex-flow: column;
}
.footer-container > p {
 margin-top: 25px;
 width: 75%;
 text-align: center;
 margin: auto;
}
.footer-end {
 width: 100%;
 background-color: var(--dark);
 height: 75%;
 display: flex;
 justify-content: space-between;
}
.social {
 display: flex;
 flex-flow: column;
 gap: 20px;
 align-items: center;
 justify-content: center;
 margin-top: 10px;
 flex: 35%;
 
}
.social > span {
 text-align: center;
}
.curtiu-site {
 align-self: center;
 margin: 30px 0 5px ;
 text-align: center;
 display: flex;
 flex-flow: column;
 align-items: center;
 gap: 5px;
 flex: 25%;
}
.projetos-e-contato {
 display: flex;
 flex-flow: column;
 gap: 2px;
 align-items: center;
 justify-content: center;
 margin-top: 10px;
 flex: 35%;
}
.projetos-e-contato > span {
 text-align: center;
}
/* ADD EMOJI */

