/* mobile styles media */
@import './pages/style/mobile/small-mobile.css';
@import './pages/style/mobile/min-heigth.css';

/* tablet styles media */

/* fonts styles */
@font-face {
  font-family: "NiramitSemiBold";
  src: url("./fonts/Niramit-SemiBold.ttf") format("opentype");
}
@font-face {
  font-family: "NiramitBold";
  src: url("./fonts/Niramit-Bold.ttf") format("opentype");
  font-weight: bold;
}

/* global styles */
:root {
  --fontTitleOne: 2.5em;
  --fontTitleTwo: 2em;
  --fontWeightPd: 1.2em;
  --fontForInfoTitle: 0.7em;
  --fontColorLight: #fff;
  --fontColorDark: #000;
  --darkPurple: #845EC2;
  --holePurple: #412f5f;
  --yellow: #FFCC47;
  --orange: #F0803C;
  --grey: #1E1E1E;
  --black: #000;
  --white: #fff;
  line-height: 20px;
  color-scheme: light dark;
  color: #000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*, ::before, ::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-style: none;
  list-style: none; 
}
p {
 font-family: NiramitSemiBold;
}
html {
  background-color: #fff; 
}
body::-webkit-scrollbar {
  width: 15px;
 }
body::-webkit-scrollbar-thumb {
  background-color: var(--darkPurple);
  border-radius: 8px;
  border: 2px solid #1a1a1a;
 }
body::-webkit-scrollbar-track {
  background-color: #1a1a1a;
 }
