.container-pai-grid-estudante {
 background-color: var(--grey);
 width: 100%;
 height: 100%;
}
.infoGrid {
 display: grid;
 width: 100%;
 height: 100%;
 grid-template-columns: 44vw auto 25vw;
 grid-template-rows: 45vh 30vh 20vh;
 background-color: var(--darkPurple);
 gap: 1px;
}

.infoGrid > div:nth-of-type(1) {
 background-color:  var(--grey);
 grid-column: 1/2;
 grid-row: 1/1;
 border-bottom-right-radius: 5px;
}
.infoGrid > div:nth-of-type(2) {
 background-color:  var(--grey);
 grid-column: 2/4;
 grid-row: 1/1;
 border-bottom-left-radius: 5px;
}
.infoGrid > div:nth-of-type(3) { /* container style cards e rockStar */
 grid-column: 1/3;
 grid-row: 2/4;
 border-radius: 5px;
}
.gapOfInfo { /* gapOfInfo são os filhos do container que está cards e rockStar */
 display: flex;
 align-items: center;
 gap: 1px;
}
.gapOfInfo > div:nth-of-type(1) { /* flexx filho do grid of type 3,  */
 flex: 1 10%;
 height: 100%;
 background-color: var(--grey);
} 
.gapOfInfo > div:nth-of-type(2) { /* segundo filho de grid of type 3 */
 flex: 1;
 height: 100%;
 background-color: var(--grey);
}
.infoGrid > div:nth-of-type(4) { /* footer right, appStar, grid 3/4 row 2/2 */
 background-color:  var(--grey);
 grid-column: 3/4;
 grid-row: 2/2;
 border-top-left-radius: 5px; 
 border-bottom-left-radius: 5px; 
}
.infoGrid > div:nth-of-type(5) { /* footer right, pontos, grid 3/4 */
 background-color:  var(--grey);
 grid-column: 3/4;
 grid-row: 3/4;
 border-top-left-radius: 5px; 
 border-bottom-left-radius: 5px; 
}
/* animation */

.infoGrid > div {
 transition: all 0.4s ease;
}